<!--  header  -->
<header>
    <div class="header">

        <div class="header__items">

            <div class="header__items-top_menu">
                <ul>
                    <li{% if app.request.attributes.get('_route') == '_home' %} class="active"{% endif %}><a href="{{ path('_home') }}">Клуб</a></li>
                    <li{% if app.request.attributes.get('_route') == 'application_base_contests' %} class="active"{% endif %}><a href="{{ path('application_base_contests') }}">Конкурсы</a></li>
                    <li{% if app.request.attributes.get('_route') == 'application_base_prizes' %} class="active"{% endif %}>><a href="{{ path('application_base_prizes') }}">Призы</a></li>
                    <li{% if app.request.attributes.get('_route') == 'application_base_catalog_products' %} class="active"{% endif %}>><a href="{{ path('application_base_catalog_products') }}">Каталог продукци</a></li>
                </ul>
            </div><!--.header__items-top_menu-->

            <div class="header__items-person">

                <div class="header__items-person_avatar">
                    <span class="img_c">
                        <img src="{{ asset('images/not_optimize/avatar.jpg') }}" alt="Елена Кучеренко"/>
                    </span>
                </div>

                <div class="header__items-person_desc">
                    <strong>
                        <a href="#">Елена Кучеренко</a>
                        <span><i>150</i>баллов</span>
                    </strong>
                    <b class="coin"></b>
                </div>

            </div><!--.header__items-person-->

            <div class="header__items-scores">

                <div class="header__items-scores_w">
                    <div class="header__items-scores_w-i">
                        <strong>
                            <span><i>+50</i> баллов</span>
                            <a href="#">Весенний субботник</a>
                        </strong>
                    </div>
                    <div class="header__items-scores_w-i">
                        <strong>
                            <span><i>+200</i> баллов</span>
                            <a href="#">Выходные на кухне</a>
                        </strong>
                    </div>
                </div><!--.header__items-person_scores_w-->

                <a href="#prev" class="arr prev"><i class="fa fa-angle-left"></i></a>
                <a href="#next" class="arr next"><i class="fa fa-angle-right"></i></a>

            </div><!--.header__items-person_scores-->

        </div><!--.header__items-->

        <a class="logo" href="{{ url('_home') }}">
            <img src="{{ asset('/images/not_optimize/logo.png') }}"/>
        </a>

        <div class="header_scorebar">
            <div class="header_scorebar__line">
                <span>0</span>
                <div class="header_scorebar__line-progr">
                    <span>150</span>
                </div>
                <span>350</span>
            </div>
        </div><!--.header_scorebar-->

    </div><!--.header-->
</header>
