<!--  header  -->
<header>
    <div class="header">

        <div class="header__items">

            {% include 'ApplicationBaseBundle::top_menu.html.twig' %}

            <div class="header__items-person">

                <div class="header__items-person_avatar">
                    <span class="img_c">
                        <img src="{{ app.user.photoLink }}" alt="{{ app.user.firstName }} {{ app.user.lastName }}"/>
                    </span>
                </div>

                <div class="header__items-person_desc">
                    <strong>
                        <a href="{{ path('application_users_profile_my') }}">{{ app.user.firstName }} {{ app.user.lastName }}</a>
                        <span><i>{{ app.user.scorePoints }}</i> баллов</span>
                    </strong>
                    <b class="coin"></b>
                </div>

            </div><!--.header__items-person-->

            {{ render(controller('TemplatesBundle:Default:smallSlider')) }}

        </div><!--.header__items-->

        <a class="logo" href="{{ url('_home') }}">
            <img src="{{ asset('/images/not_optimize/logo.png') }}"/>
        </a>

        <div class="header_scorebar">
            {#
            <div class="header_scorebar__line">
                <span>0</span>
                <div class="header_scorebar__line-progr">
                    <span>150</span>
                </div>
                <span>350</span>
            </div>
            #}
        </div>

    </div>
</header>
