<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta id="viewport" name="viewport" content="width=device-width">
        <title>HG - Лучший эксперт чистоты</title>
        <meta name='yandex-verification' content='5475c665e716aa8b' />


        {% block stylesheets %}
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
            <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

            <link rel="stylesheet" href="{{ asset('css/normalize.css') }}"/>
            <link rel="stylesheet" href="{{ asset('css/fonts/fonts.css') }}"/>
            <link rel="stylesheet" href="{{ asset('css/mainStyles.css') }}"/>
            <!--[if gte IE 9]>
            <style type="text/css">
                .gradient {
                    filter: none;
                }
            </style>
            <![endif]-->
        {% endblock %}


        {% block javascripts %}
            <script src="{{ asset('js/lib/jquery-1.11.2.min.js') }}"></script>
            <script src="{{ asset('js/lib/jquery.carouFredSel-6.2.1-packed.js') }}"></script>
            <script src="{{ asset('js/lib/jquery.damnUploader.js') }}"></script>
            <script src="{{ asset('js/lib/jquery.blImageCenter.js') }}"></script>
            <script src="{{ asset('js/main.js') }}"></script>
        {% endblock %}

    </head>

    <body class="front_page">
        <div class="viewport">

            {% block header %}
                {% include '::header.html.twig' %}
            {% endblock %}


            {% block front_slider %}
            {% endblock %}


            <div class="content">
                {% block content %}
                {% endblock content %}
            </div>


            {% block footer %}
                {% include '::footer.html.twig' %}
            {% endblock footer %}

        </div>
    </body>
</html>



