{% extends 'ApplicationAdminBundle::layout.html.twig' %}


{% block content %}

<div class="cabinet_content__item-content">
    <div class="reviews_list">
        {% for key, check in checks %}

            <div class="reviews_list-item">
                <div class="reviews_list-item_num">{{ key + 1 }}.</div>
                <div class="reviews_list-item_img">

                    <div class="photo-logo-56">
                        <a href="{{ asset(check.getFilePathWeb()) }}" class="photo" target="_blank">
                            <img src="{{ asset(check.getFilePathWeb()) }}" class="photo-img" alt="name"/>
                        </a>
                    </div>

                </div>
                <div class="reviews_list-item_title">
                    <span>{{ check.createdAt.format('d.m.Y') }}</span><br />
                </div>
                <div class="reviews_list-item_status">

                    {% if check.isStatusNew() %}
                        <b class="status_assay"></b>
                        <span>Чек не проверен</span>
                    {% endif %}

                    {% if check.isStatusConfirmed() %}
                        <b class="status_approved"><i class="fa fa-check"></i></b>
                        <span>+100 очков</span>
                    {% endif %}

                    {% if check.isStatusRejected() %}
                        <b class="status_disallow"><i class="fa fa-times"></i></b>
                        <span>{{ check.commentAdmin }}</span>
                    {% endif %}

                </div>
                <div class="reviews_list-item_status">
                    {% if check.isStatusNew() %}
                        <a href="{{ path('application_admin_checks_approved', {'id': check.id}) }}" class="but-blue-approved button">
                            <b class="status_approved"><i class="fa fa-check"></i></b>Принять
                        </a>
                        <a href="{{ path('application_admin_checks_disallow', {'id': check.id}) }}" class="but-red-disallow button">
                            <b class="status_disallow"><i class="fa fa-times"></i></b>Отклонить
                        </a>
                    {% endif %}
                    &nbsp;
                </div>
            </div><!--.reviews_list-item-->

        {% else %}

            <div style="text-align: center;">
                На данный момент нет присланных чеков
            </div>

        {% endfor %}

    </div><!--.reviews_list-->

</div>

{% endblock content %}
