{% extends '::layout.html.twig' %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/upload_files.js') }}"></script>
{% endblock %}


{% block content %}

    <div class="content_header">

        <h1 class="content_header__title">
            {{ contest.title }}
            <span>/ <i>{{ contest.getCountContestsMembersConfirmed() }}</i> участников</span>
        </h1>

        <ul class="content_header__breadcrumbs">
            <li><a href="#">Главная</a></li>
            <li><a href="{{ path('_home') }}">Клуб экспертов чистоты</a></li>
            <li><a href="{{ path('application_contests_index') }}">Конкурсы</a></li>
            <li><span>{{ contest.title }}</span></li>
        </ul>

        {#
        <ul class="content_header__show">
            <li><span>Показать:</span></li>
            <li><a href="#">Все конкурсы</a></li>
            <li><a href="#">Текущие конкурсы</a></li>
            <li><a href="#">Архив конкурсов</a></li>
            <li><a href="#">Победители</a></li>
        </ul><!--.content_header__show-->
        #}
    </div><!--.content_header-->

    <div class="content_main">

        <div class="content_main__articles">

            {% for member in contestMembers %}
                {{ include('ApplicationContestsBundle:Contests:member_item.html.twig', {'member': member}) }}
            {% else %}
                <div class="" style="text-align: center; margin-top: 44px;">
                    Нет усастников в конкурсе
                </div>
            {% endfor %}

            {#
            <div class="content_main__articles-pagi">
                <a class="prev" href="#"><i class="fa fa-angle-left"></i><span>Назад</span></a>
                <a class="page" href="#">1</a>
                <span><b>2</b></span>
                <a class="page" href="#">3</a>
                <a class="page" href="#">4</a>
                <a class="page" href="#">5</a>
                <a class="next" href="#"><span>Вперед</span><i class="fa fa-angle-right"></i></a>
            </div>
            #}

        </div>

    </div>

{% endblock content %}
