{% extends '::layout.html.twig' %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/upload_files.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/soc_networks.js') }}"></script>
{% endblock %}


{% block content %}

    <div class="content_header">

        <h1 class="content_header__title">
            {{ contest.title }}
            <span>/ <i>{{ contest.getCountContestsMembersConfirmed() }}</i> участников</span>
        </h1>

        <ul class="content_header__breadcrumbs">
            <li><a href="#">Главная</a></li>
            <li><a href="{{ path('_home') }}">Клуб</a></li>
            <li><a href="{{ path('application_contests_index') }}">Конкурсы</a></li>
            <li><span>{{ contest.title }}</span></li>
        </ul>

        {#
        <ul class="content_header__show">
            <li><span>Показать:</span></li>
            <li><a href="#">Все конкурсы</a></li>
            <li><a href="#">Текущие конкурсы</a></li>
            <li><a href="#">Архив конкурсов</a></li>
            <li><a href="#">Победители</a></li>
        </ul><!--.content_header__show-->
        #}
    </div><!--.content_header-->

    <div class="content_main">

        <div class="content_main__articles">

            {% if memberWinner and page == 1 %}
                {{ include('ApplicationContestsBundle:Contests:member_item.html.twig', {'member': memberWinner}) }}
            {% endif %}

            {% for member in contestMembers %}
                {{ include('ApplicationContestsBundle:Contests:member_item.html.twig', {'member': member}) }}
            {% else %}
                <div class="" style="text-align: center; margin-top: 44px;">
                    Нет усастников в конкурсе
                </div>
            {% endfor %}

            {% if countPages > 1 %}
                <div class="content_main__articles-pagi">

                    {% if page != 1 %}
                        <a class="prev" href="{{ path('application_contest_item', {'idContest': idContest, 'page': page - 1}) }}"><i class="fa fa-angle-left"></i><span>Назад</span></a>
                    {% endif %}

                    {% for i in range(1, countPages) %}
                        {% if page == i %}
                            <span><b>{{ i }}</b></span>
                        {% else %}
                            <a class="page" href="{{ path('application_contest_item', {'idContest': idContest, 'page': i}) }}">{{ i }}</a>
                        {% endif %}
                    {% endfor %}

                    {% if page != countPages %}
                        <a class="next" href="{{ path('application_contest_item', {'idContest': idContest, 'page': page + 1}) }}"><span>Вперед</span><i class="fa fa-angle-right"></i></a>
                    {% endif %}
                </div>
            {% endif %}

        </div>

    </div>

{% endblock content %}
