{% extends '::layout.html.twig' %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/upload_files.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/soc_networks.js') }}"></script>
{% endblock %}


{% block front_slider %}
    {{ render(controller('TemplatesBundle:Default:mainSlider')) }}
{% endblock %}


{% block content %}

<div class="content_main">

    <div class="content_main__infoblock about">

        <div class="content_main__infoblock-left left">
            <h3 class="title">О клубе</h3>
            <div class="content_main__infoblock-left_txt">
                <p>Клуб находчивых домохозяек - не очередное место по интересам, а набор полезных сервисов от бренда HG. В клубе получится провести свободное время с пользой и получить за это различные призы.</p>
            </div>
        </div>

        <div class="content_main__infoblock-right right">
            <h3 class="title">Пригласи в клуб подруг</h3>
            <div class="content_main__infoblock-right_txt">
                <p>и получи +5 баллов  за каждую</p>
            </div>
            <div class="soc wight">
                {{ render(controller('SocialNetworksBundle:Connection:sharing', {'url': url('application_base_security_login')} )) }}
            </div>
            {#
            <div class="soc wight">
                <a class="soc_ico fb" href="#"></a>
                <a class="soc_ico vk" href="#"></a>
                <a class="soc_ico ok" href="#"></a>
            </div>
            #}
        </div>

    </div>

    {% if prizes |length %}
        <div class="content_main__articles trophy">
            <h3 class="title">Как использовать баллы?</h3>

            {% for prize in prizes %}
                {{ include('ApplicationPrizesBundle:Prizes:prizes_item.html.twig') }}
            {% endfor %}

        </div>
    {% endif %}


    <div class="content_main__infoblock actual">

        <div class="content_main__infoblock-left left">
            <a class="look_actual" href="{{ path('application_contests_index') }}">Текущие конкурсы</a>

            <h3 class="title">{{ contests.active.title }}</h3>
            <div class="content_main__infoblock-left_txt">
                <p>{{ contests.active.description |truncate(120) }}{#Пришлите  лучшее поздравление с международным женским днем и получите 100 балов!#}</p>
                <a class="js_PopupShow" href="{{ path('application_contests_response_member', {'idContest': contests.active.id}) }}">участвовать</a>
            </div>
        </div>


        {#
        <div class="content_main__infoblock-right right">
            <a class="look_actual" href="#">Ближайшие конкурсы</a>

            <h3 class="title">Весенний субботник</h3>
            <div class="content_main__infoblock-right_txt">
                <p>Получите по 15 баллов за каждое фото теста продукции HG в вашем доме (фото до и после обязательны)</p>
                <a href="#">участвовать</a>
            </div>
        </div>#}

    </div>

    {% if show_main_tips_club %}
        {{ include('ApplicationBaseBundle:Default:index_mainTipsClub.html.twig') }}
    {% endif %}


    {#
    <div class="content_main__infoblock more_score">

        <h3 class="title">Как заработать больше баллов?</h3>

        <div class="more_score_blocks">
            <div class="item item_1">
                                <span>
                                    <br/>
                                    <br/>
                                    Ваши баллы</span>
            </div>
            <div class="item item_2"></div>
            <div class="item item_3">
                                <span>
                                    +5
                                    <br/>
                                    <br/>
                                    Пригласите подруг в клуб, используя <a href="#">социальные сети</a></span>
            </div>
            <div class="item item_4">
                                <span>
                                    +50
                                    <br/>
                                    <br/>
                                    Поучаствуйте в <a href="#">Конкурсе на лучшее поздравление к 8 марта</a></span>
            </div>
            <div class="item item_5">
                                <span>
                                    +100
                                    <br/>
                                    <br/>
                                    Загрузите в личный кабинет чеки от покупок средств HG</span>
            </div>
        </div>

        <div class="more_score_progr">
            <div class="more_score_progr_line">
                <span>52 <i class="fa fa-angle-right"></i></span>
            </div>
            <span>250</span>
        </div>

    </div><!--.content_main__infoblock-->#}

</div><!--.content_main-->

{% endblock content %}
