{% extends 'ApplicationAdminBundle::layout.html.twig' %}
{% form_theme form 'ApplicationAdminBundle::form.html.twig' %}


{% block content %}

<h3>{% if id %}Редактирование информации о конкурсе{% else %}Добавление нового конкурса{% endif %}</h3>

<div style="width: 482px;">
    {{ form_start(form) }}

        {#{{ form_widget(form) }}#}

        {{ form_row(form.title) }}
        {{ form_row(form.description) }}
        {{ form_row(form.pointsParticipation) }}
        {{ form_row(form.pointsWinner) }}

        <div class="form-row" style="width: 346px;">
            <div class="form-label">
                {{ form_label(form.file) }}
            </div>
            {{ form_errors(form.file) }}
            {{ form_widget(form.file) }}
        </div>

        {{ form_row(form.startedAt) }}
        {{ form_row(form.finishedAt) }}

        <input type="submit" class="blue_btn" value="Сохранить"> <a class="link-cancel" href="{{ path('application_admin_contests') }}">Отмена</a>

    {{ form_end(form) }}
</div>

{% endblock content %}
