{% extends 'ApplicationAdminBundle::layout.html.twig' %}


{% block content %}

<div class="cabinet_content__item-content">

    <div style="margin-bottom: 30px;">
        <a href="{{ path('application_admin_contests_edit') }}" class="blue_btn">Добавить конкурс</a>
    </div>

    <table width="100%">

        {% for key, contest in contests %}

            <tr{% if loop.index % 2 != 0 %} class="odd"{% endif %}>
                <td>
                    <div class="photo-logo-56">
                        {% if contest.filePath %}
                            <img src="{{ asset(contest.getFilePathWeb()) }}" class="photo-img" alt="{{ contest.title }}"/>
                        {% else %}
                            <img src="{{ asset('images/not-file.jpg') }}" class="photo-img" title="Файл не загружен" alt="name"/>
                        {% endif %}
                    </div>
                </td>
                <td>
                    <span>{{ contest.title }}</span>
                </td>
                <td>
                    <a href="{{ path('application_admin_contests_edit', {'id': contest.id}) }}">Изменить</a>
                </td>
                <td>
                    c {{ contest.startedAt.format('d.m.y') }} по {{ contest.finishedAt.format('d.m.y') }}<br />
                </td>
                <td>
                    <a href="{{ path('application_admin_contests_members', {'id': contest.id}) }}">Участники</a> <strong>({{ contest.contestsMembers |length }})</strong>
                </td>
                <td>
                    {% if contest.isFinishedContest() %}
                        Завершён<br />
                        {% if contest.memberWinner is null %}<span class="caution-message">Победитель не выбран!</span>{% endif %}
                    {% else %}
                        Активный
                    {% endif %}
                </td>
            </tr>

        {% else %}

            <tr>
                <td colspan="3">
                    <div style="text-align: center;">
                        Список конкурсов пуст
                    </div>
                </td>
            </tr>

        {% endfor %}

    </table>

</div>

{% endblock content %}
