{% extends 'ApplicationUsersBundle::layout_profile.html.twig' %}


{% block content_profile %}

    <div class="cabinet_content__item contests active">
        <div class="cabinet_content__item-content">

            <div class="reviews_list">

                {% for key, member in contestsMembers %}

                    <div class="reviews_list-item">
                        <div class="reviews_list-item_img img_c">
                            <img src="{{ asset( member.contest.getFilePathWeb() ) }}" alt="name"/>
                        </div>
                        <div class="reviews_list-item_name">
                            <a href="{{ path('application_contest_item', {'idContest': member.contest.id}) }}">{{ member.contest.title }}</a>
                        </div>
                        <div class="reviews_list-item_title">
                            <a href="{{ path('application_contest_member', {'idMember': member.id}) }}">Посмотреть ваш отклик</a>
                        </div>
                        <div class="reviews_list-item_status">

                            {% if member.isStatusNew() %}
                                <b class="status_assay"></b>
                                <span>Конкурсная работа проверяется. <br />Нам потребуется до 24 часов</span>
                            {% endif %}

                            {% if member.isStatusConfirmed() %}
                                <b class="status_approved"><i class="fa fa-check"></i></b>
                                <span>+ {{ member.contest.scoresParticipation.points }} очков<br /> За победу {{ member.contest.scoresWinner.points }} очков</span>
                            {% endif %}

                            {% if member.isStatusRejected() %}
                                <b class="status_disallow"><i class="fa fa-times"></i></b>
                                <span>{{ member.commentAdmin }}</span>
                            {% endif %}

                        </div>
                        <div class="reviews_list-item_num cross-close_container">
                            {% if member.isStatusNew() %}
                                <a href="{{ path('application_users_profile_remove_contest', {'id': member.id}) }}" class="cross-close" title="Удалить"><i class="fa fa-times"></i></a>
                            {% endif %}
                        </div>
                    </div>

                {% else %}
                    Вы пока не учавствуете в конкурсах
                {% endfor %}

            </div>

        </div>
    </div>


{% endblock content_profile %}
