{% extends 'ApplicationUsersBundle::layout_profile.html.twig' %}


{% block content_profile %}


<div class="cabinet_content__item reviews active">
    <div class="cabinet_content__item-content">
        <div class="reviews_list">

            <div class="reviews_list-item">
                <div class="reviews_list-item_num">1.</div>
                <div class="reviews_list-item_img img_c">
                    <img src="{{ asset('images/not_optimize/gall_03.jpg') }}" alt="name"/>
                </div>
                <div class="reviews_list-item_title">
                    <a href="#">Средство НG  для удаления известкового налета</a>
                </div>
                <div class="reviews_list-item_status">
                    <b class="status_assay"></b>
                    <span>Отзыв проверяется. Нам потребуется до 24 часов</span>
                </div>
            </div><!--.reviews_list-item-->

            <div class="reviews_list-item">
                <div class="reviews_list-item_num">2.</div>
                <div class="reviews_list-item_img img_c">
                    <img src="{{ asset('images/not_optimize/gall_04.jpg') }}" alt="name"/>
                </div>
                <div class="reviews_list-item_title">
                    <a href="#">Универсальное чистящее средство для ванной и туалета</a>
                </div>
                <div class="reviews_list-item_status">
                    <b class="status_approved"><i class="fa fa-check"></i></b>
                    <span>+100 очков</span>
                </div>
            </div><!--.reviews_list-item-->

            <div class="reviews_list-item">
                <div class="reviews_list-item_num">3.</div>
                <div class="reviews_list-item_img img_c">
                    <img src="{{ asset('images/not_optimize/gall_02.jpg') }}" alt="name"/>
                </div>
                <div class="reviews_list-item_title">
                    <a href="#">Гигиеническое чистящее средство для гидромассажных ванн</a>
                </div>
                <div class="reviews_list-item_status">
                    <b class="status_disallow"><i class="fa fa-times"></i></b>
                    <span>+100 очков</span>
                </div>
            </div><!--.reviews_list-item-->

            <div class="reviews_list-item">

                <div class="reviews_list-item_num">4.</div>

                <div class="popup_wrap_content">
                    <div class="popup_wrap_content_name">
                        Елена Кучеренко<span> , домохозяйка</span><i> , Минск</i>
                    </div>
                    <div class="popup_wrap_content_form">
                        <form id="content_form" action="#">

                            <input class="product_name" id="product_name" type="text" placeholder="Название товара из каталога" />

                            <textarea class="form_txta" placeholder="Введите текст"></textarea>

                            <label for="file-field" class="input_file_btn"><i class="fa fa-camera"></i></label>

                            <div class="file_field_wrap">
                                <input type="file" id="file-field" multiple="true" />
                            </div>


                            <div class="download_result">

                                <ul id="img-list" class="img-list">

                                    <li>
                                        <div class="img_w">
                                            <img src="{{ asset('images/not_optimize/gall_01.jpg') }}" alt=""/>
                                        </div>
                                        <textarea placeholder="Описание фото"></textarea>
                                    </li>

                                    <li>
                                        <div class="img_w">
                                            <img src="{{ asset('images/not_optimize/gall_02.jpg') }}" alt=""/>
                                        </div>
                                        <textarea placeholder="Описание фото"></textarea>
                                    </li>

                                    <li>
                                        <div class="progress">
                                            <span class="progress_name">IMG_80256</span>
                                            <div class="progress_bar">
                                                <div class="progress_bar_per" style="width: 47%;"></div>
                                            </div>
                                            <a class="remove" href="#"><i class="fa fa-times"></i></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="progress">
                                            <span class="progress_name">IMG_80267_ed</span>
                                            <div class="progress_bar">
                                                <div class="progress_bar_per" style="width: 78%;"></div>
                                            </div>
                                            <a class="remove" href="#"><i class="fa fa-times"></i></a>
                                        </div>
                                    </li>


                                </ul>

                            </div>

                            <input class="blue_btn" id="send-btn" type="submit" value="Отправить"/>

                        </form>
                    </div>
                </div>
            </div><!--.reviews_list-item-->

        </div><!--.reviews_list-->
    </div>
</div>


{% endblock content_profile %}
