{% extends 'ApplicationUsersBundle::layout_profile.html.twig' %}


{% block content_profile %}


<div class="cabinet_content__item reviews active">
    <div class="cabinet_content__item-content">

        <div style="margin-bottom: 20px;">
            <a class="js_PopupShow blue_btn" href="{{ path('application_users_profile_review_add') }}">Добавить отзыв</a>
        </div>

        <div class="reviews_list">

            {% for key, comment in commentsProduct %}
                <div class="reviews_list-item">

                    <div class="reviews_list-item_num">{{ key + 1 }}.</div>
                    {#
                    <div class="reviews_list-item_img img_c">
                        <img src="{{ asset('images/not_optimize/gall_03.jpg') }}" alt="name"/>
                    </div>#}

                    <div class="reviews_list-item_title">
                        <span>{{ comment.nameProduct }}</span>
                        {#<a href="#">Средство НG  для удаления известкового налета</a>#}
                    </div>

                    <div class="reviews_list-item_status">
                        {% if comment.isStatusNew() %}
                            <b class="status_assay"></b>
                            <span>Чек проверяется. Нам потребуется до 24 часов</span>
                        {% endif %}

                        {% if comment.isStatusConfirmed() %}
                            <b class="status_approved"><i class="fa fa-check"></i></b>
                            <span>+{{ comment.scores.points }} очков</span>
                        {% endif %}

                        {% if comment.isStatusRejected() %}
                            <b class="status_disallow"><i class="fa fa-times"></i></b>
                            <span>{{ comment.commentAdmin }}</span>
                        {% endif %}
                    </div>

                </div>
            {% else %}
                <div style="text-align: center">Нет добавленных изывов</div>
            {% endfor %}

            {#
            <div class="reviews_list-item">
                <div class="reviews_list-item_num">1.</div>
                <div class="reviews_list-item_img img_c">
                    <img src="{{ asset('images/not_optimize/gall_03.jpg') }}" alt="name"/>
                </div>
                <div class="reviews_list-item_title">
                    <a href="#">Средство НG  для удаления известкового налета</a>
                </div>
                <div class="reviews_list-item_status">
                    <b class="status_assay"></b>
                    <span>Отзыв проверяется. Нам потребуется до 24 часов</span>
                </div>
            </div><!--.reviews_list-item-->

            <div class="reviews_list-item">
                <div class="reviews_list-item_num">2.</div>
                <div class="reviews_list-item_img img_c">
                    <img src="{{ asset('images/not_optimize/gall_04.jpg') }}" alt="name"/>
                </div>
                <div class="reviews_list-item_title">
                    <a href="#">Универсальное чистящее средство для ванной и туалета</a>
                </div>
                <div class="reviews_list-item_status">
                    <b class="status_approved"><i class="fa fa-check"></i></b>
                    <span>+100 очков</span>
                </div>
            </div><!--.reviews_list-item-->

            <div class="reviews_list-item">
                <div class="reviews_list-item_num">3.</div>
                <div class="reviews_list-item_img img_c">
                    <img src="{{ asset('images/not_optimize/gall_02.jpg') }}" alt="name"/>
                </div>
                <div class="reviews_list-item_title">
                    <a href="#">Гигиеническое чистящее средство для гидромассажных ванн</a>
                </div>
                <div class="reviews_list-item_status">
                    <b class="status_disallow"><i class="fa fa-times"></i></b>
                    <span>+100 очков</span>
                </div>
            </div><!--.reviews_list-item-->
            #}

        </div>
    </div>
</div>


{% endblock content_profile %}
