{% extends 'ApplicationUsersBundle::layout_profile.html.twig' %}
{% form_theme form 'ApplicationUsersBundle::form.html.twig' %}


{% block content_profile %}

    <div class="cabinet_content__item testing active">
        <div class="cabinet_content__item-content">

            {% if testsProduction %}
                <div class="reviews_list">

                    {% for key, test in testsProduction %}
                        <div class="reviews_list-item">

                            {#<div class="reviews_list-item_num">{{ key + 1 }}.</div>#}

                            <div class="reviews_list-item_img">
                                <div class="photo-logo-56">
                                    {% if test.smallImage %}
                                    <a href="{{ test.shopProductUrl }}" class="photo" target="_blank">
                                        <img src="{{ test.smallImage }}" class="photo-img" alt="{{ test.nameProduct }}"/>
                                    </a>
                                    {% endif %}
                                </div>
                            </div>

                            {#
                            <div class="reviews_list-item_title">
                                <span>{{ test.nameProduct }}</span>
                            </div>
                            #}

                            <div class="reviews_list-item_title" style="width: 60px;">
                                <span>{{ test.createdAt.format('d.m.y') }}</span>
                            </div>

                            <div class="reviews_list-item_status">
                                {% if test.isStatusNew() %}
                                    <b class="status_assay"></b>
                                    <span>Заявка проверяется. Нам потребуется до 24 часов</span>
                                {% endif %}

                                {% if test.isStatusConfirmed() %}
                                    <b class="status_approved"><i class="fa fa-check"></i></b>
                                    <span>+{{ test.score.points }} очков</span>
                                {% endif %}

                                {% if test.isStatusRejected() %}
                                    <b class="status_disallow"><i class="fa fa-times"></i></b>
                                    <span>{{ test.commentAdmin }}</span>
                                {% endif %}
                            </div>

                            <div class="reviews_list-item_status">
                                {% if test.isStatusConfirmed() %}
                                    {% if test.commentProduction %}
                                        {% if test.commentProduction.isStatusNew() %}
                                            <b class="status_assay"></b>
                                            <span>Отзыв проверяется. Нам потребуется до 24 часов</span>
                                        {% endif %}

                                        {% if test.commentProduction.isStatusConfirmed() %}
                                            <b class="status_approved"><i class="fa fa-check"></i></b>
                                            <span>+{{ test.score.points }} очков</span>
                                        {% endif %}

                                        {% if test.commentProduction.isStatusRejected() %}
                                            <b class="status_disallow"><i class="fa fa-times"></i></b>
                                            <span>{{ test.commentAdmin }}</span>
                                        {% endif %}
                                    {% else %}
                                        <a href="{{ path('application_users_profile_review_add', {'testingId': test.id}) }}" class="js_PopupShow but-blue-small" style="width: 120px;">
                                            <span>Добавить отзыв</span>
                                        </a>
                                    {% endif %}
                                {% endif %}
                            </div>

                        </div>
                    {% endfor %}

                </div>

                <hr class="line-small" style="margin-bottom: 60px;">

            {% endif %}


            <div class="container__form-center">
                {{ form_start(form) }}
                {{ form_javascript(form) }}

                <div class="invite_wrap">

                    {% if isAddress == false %}
                    <div style="margin-left: 115px; margin-bottom: 6px;">
                        <span class="error_message">В вашем профиле не указан адрес доставки</span>
                    </div>
                    {% endif %}

                    {{ form_row(form.nameProduct) }}
                    {{ form_row(form.phone) }}

                    <div class="form-row-line">
                        <div class="form-label" style="vertical-align : top;">
                            {{ form_label(form.commentUser) }}
                        </div>
                        <div class="form-input">
                            {{ form_errors(form.commentUser) }}
                            {{ form_widget(form.commentUser) }}
                        </div>
                    </div>

                    <div class="form_row submit_row">
                        <input type="submit" value="Заказать"/>
                    </div>
                </div>

                {{ form_end(form) }}
            </div>

        </div>
    </div>

{% endblock content_profile %}
