<div class="content_main__articles-tile{% if (loop.index - 1) % 4 == 0 %} first{% endif %}">
    <div class="content_main__articles-tile_img {#img_c#}">
        <img src="{{ asset(prize.getFilePathWeb()) }}" alt="{{ prize.title }}"/>
    </div>
    <div class="content_main__articles-tile_header">
        <span {#href="#"#} class="content_main__articles-tile_header_title {% if prize.titleColor != 'blue' %}{{ prize.titleColor }}{% endif %}">{{ prize.title }}</span>
    </div>
    <div class="content_main__articles-tile_footer">
        {#
        <div class="content_main__articles-tile_footer_take">
            <a href="take_part">Участвовать в розыгрыше</a><span> / 200 баллов</span>
        </div>
        #}
        <div class="content_main__articles-tile_footer_buy">
            <a class="js_PopupShow" href="{{ path('application_prizes_buy_prize', {'idPrize': prize.id}) }}">Купить</a><span> / {% if prize.scoresBuy %}{{ prize.scoresBuy.points }}{% else %}0{% endif %} баллов</span>
        </div>
    </div>
    <div class="blue_b bt"></div>
    <div class="blue_b br"></div>
    <div class="blue_b bb"></div>
    <div class="blue_b bl"></div>
</div>
