<div class="front_slider_bkg"></div>
<div class="front_slider">
    <div class="front_slider_wrap">
        <div class="front_slider_wrap_content">

            {% for key, slide in slides %}
                {% if slide %}
                    <div class="front_slider_wrap_content-item">
                        <div class="front_slider_wrap_content-item_img">
                            {% if slide.picturePath %}
                                <img src="{{ asset( slide.getPictureFilePathWeb() ) }}" />
                            {% else %}
                                <img src="{{ asset('images/not_optimize/slider_img_01.png') }}" />
                            {% endif %}
                        </div>
                        <a href="{{ slide.link }}">
                            <div class="front_slider_wrap_content-item_txt color-{{ slide.textColor }}">
                                {{ slide.text |raw }}
                            </div>
                        </a>
                    </div>
                {% else %}
                    {{ include('TemplatesBundle:Default:mainSlider_defaultSlide_'~ key ~'.html.twig') }}
                {% endif %}
            {% endfor %}

        </div>

        <div class="pagi">
            <a class="selected" href="#"><span>1</span></a>
            <a href="#"><span>1</span></a>
            <a href="#"><span>1</span></a>
        </div>

        <a href="#prev" class="arr prev"><i class="fa fa-angle-left"></i></a>
        <a href="#next" class="arr next"><i class="fa fa-angle-right"></i></a>
    </div>
</div><!--.front_slider-->

